.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px 10px; 
  background-color: #fbf9f4;
}

.encabezado-izquierda,
.encabezado-derecha {
  display: flex;
  align-items: center;
  gap: 36px; 
}


.encabezado-icono {
  width: 38px;
  height: 38px;
  display: block;
  cursor: pointer;
  object-fit: contain;
}

.encabezado-logo {
  height: 190px;
  display: block;
  object-fit: contain;
}


.icono-subrayado {
  padding: 0 10px 8px 10px;
  border-bottom: 2px solid #1b4d3e;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.contenedor-logo {
  padding-bottom: 10px;
  border-bottom: 2px solid #1b4d3e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
}


.boton-login {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 26px;
  background-color: #1b4d3e;
  color: white;
  border: none;
  border-radius: 35px;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
}

.boton-login svg {
  width: 22px;
  height: 22px;
}